.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f6;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
